/* ESTILO PERFIL */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5% 0;
    font-family: var(--font-primary);
}

.profile__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 14rem;
    width: 100%;
}

.profile__figure{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 8%;
}

.profile__image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 2rem;
    border: 2px solid var(--color-brand-1);
}

.profile__button{
    background-color: var(--color-grey-2);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--color-grey-7);
    margin-right: 10%;
}
.profile__button:hover{
    background-color: var(--color-brand-2);
}

/* ESTILO POSTS */

.user__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}

.user__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.list__repos{
    width: 575px;
    min-width: 300px;
    height: 18rem;
    margin: 1rem 3rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--color-grey-7);;
    border-radius: 0.5rem;
}

.repos__title{
    margin: 2rem 2rem;
}

.repos__description{
    margin: 1rem 2rem;
}

.repos__button{
    text-decoration: none;
    margin: 2rem 2rem;
    padding: 0.25rem 0;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--color-grey-3);
    color: var(--color-grey-7);
    padding: 0.5rem;
    width: 5.5rem;
}

.repos__button:hover{
    background-color: var(--color-brand-2);
}